<ion-view class="signup">

    <page-header page-title="Registrate" type="back"></page-header>

    <ion-content>

        <div class="signup__wrapper">

            <form class="form form--rounded list">

                <label class="item item-icon-left">
                    <i class="icon ion-ios-email-outline placeholder-icon"></i>
                    <input type="email" placeholder="Email">
                </label>

                <label class="item item-icon-left">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Password">
                </label>

                <button class="button button-block button-red">
                    Sign up
                </button>

                <div class="signup__options">
                    <button class="button button-block button-facebook">
                        <i class="icon ion-social-facebook"></i>
                        &nbsp; Sign up with facebook
                    </button>
                </div>

            </form>
            
        </div>

    </ion-content>

</ion-view>