<ion-view class="signin">

    <page-header page-title="Inicia sesion" type="back"></page-header>

    <ion-content>

        <div class="signin__wrapper">

            <form class="form form--rounded list">

                <label class="item item-icon-left">
                    <i class="icon ion-ios-email-outline placeholder-icon"></i>
                    <input type="email" placeholder="Email">
                </label>

                <label class="item item-icon-left">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Password">
                </label>

                <a class="button button-block button-red" href="#/main">
                    Sign in
                </a>
                
            </form>

            <div class="signin__options">
                <button class="button button-block button-facebook">
                    <i class="icon ion-social-facebook"></i>
                    &nbsp; Sign in with facebook
                </button>
                <a href="#/signup" class="signin__options__new">No tienes cuenta? creala aqui</a>
            </div>

        </div>

    </ion-content>
    
</ion-view>
